{% extends 'base.html' %}


{% block title %}Seja Bem Vindo{% endblock %}

{% block main %}
<div  class="container">
        <div class="jumbotron">
        <div class="row">
        <div class="m-6">

        </div>

        <div class="col-6">
            <h1>Seja bem vindo</h1>
        </div>
        <div class="m-6">

        </div>
         
        </div>
        </div>


{% endblock %}



 {% block footer %}
    <footer class="footer">
      <div id="footer-copyright" class="container">
        <span class="text-muted">Desenvolvimento web com Django 2.x</span>
      </div>
    </footer>
{% endblock %}