{% load static %}
<meta charset="UTF-8" xmlns:color="http://www.w3.org/1999/xhtml">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/stick-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.css' %}">

<title>{% block title %}{% endblock %}</title>

</head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'assets/img/home.png' %}" width="40" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cadastro</a>
            <div class="dropdown-menu">
                <a href="{% url 'maquina_new' %}" class="dropdown-item">Equipamentos</a>
                <a href="{% url 'setores_new' %}" class="dropdown-item">Setores</a>
                <a href="{% url 'impressoras_new' %}" class="dropdown-item">Impressoras</a>
                <a href="{% url 'usuarios_new' %}" class="dropdown-item">Servidores</a>
                <a href="{% url 'nobreaks_new' %}" class="dropdown-item">Nobreaks</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Listar</a>
            <div class="dropdown-menu">
                <a href="{% url 'maquinas_list' %}" class="dropdown-item">Equipamentos</a>
                <a href="{% url 'setores_list' %}" class="dropdown-item">Setores</a>
                <a href="{% url 'impressoras_list' %}" class="dropdown-item">Impressoras</a>
                <a href="{% url 'usuarios_list' %}" class="dropdown-item">Servidores</a>
                <a href="{% url 'nobreaks_list' %}" class="dropdown-item">Nobreaks</a>
            </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'relatorios' %}">Relatórios<span class="sr-only">(página atual)</span></a>
        </li>
        
       </ul>

      <ul class="navbar-nav align-items-center ml-auto">
        <li class="nav-item dropdown" >
            {% if user.is_authenticated %}
            <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Olá {{ user.username }}

              <img class="rounded-circle" src="{% static 'assets/img/renato.png' %}" alt="" width="35px" height="35px">
             {% else %}
              <a href="{% url 'login' %}"  class="btn btn-light">Entrar</a>


            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
            <div class="bg-white rounded-soft py-2">
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="#">Configurações</a>
                <a class="dropdown-item" href="{% url 'my_logout' %}">Sair</a>
              {% else %}
                <a class="dropdown-item" href="#">Configurações</a>
                <a class="dropdown-item" href="{% url 'login' %}">Entrar</a>
              {% endif %}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

   
        {% block main %}
        {% endblock %}
        
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/DataTables/datatables.js' %}"></script>
<!-- Font Awesome JS -->
<script defer src="{% static 'assets/js/solid.js' %}"></script>
<script defer src="{% static 'assets/js/fontawesome.js' %}"></script>
  
<!--Scripts-->
<script>
  $(function () {
    $('.dropdown-toggle').dropdown();
  }); 
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#tabela-eqp').DataTable();
} );
</script>
    
{% block footer %}
{% endblock %}



</body>
</html>