{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/stick-footer.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

        <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.css' %}">

        <title>{% block title %}{% endblock %}</title>

    </head>

      <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Sistema - STI</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Gerenciar Equipamentos</p>
                <li>
                  <a href="{% url 'home' %}">Home</a>
              </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Cadastros</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="{% url 'maquina_new' %}">Equipamentos</a></li>
                        <li><a href="{% url 'setores_new' %}">Setores</a></li>
                        <li><a href="{% url 'impressoras_new' %}">Impressoras</a></li>
                        <li><a href="{% url 'nobreaks_new' %}">Nobreaks</a></li>
                        <li><a href="{% url 'usuarios_new' %}">Funcionarios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Listar</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li><a href="{% url 'maquinas_list' %}">Equipamentos</a></li>
                      <li><a href="{% url 'setores_list' %}">Setores</a></li>
                      <li><a href="{% url 'impressoras_list' %}">Impressoras</a></li>
                      <li><a href="{% url 'nobreaks_list' %}">Nobreaks</a></li>
                      <li><a href="{% url 'usuarios_list' %}">Funcionarios</a></li>
                    </ul>
                </li>
                
                
                <li>
                    <a href="{% url 'relatorios' %}">Relatórios</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
            </ul>
        </nav>
        
        
        <!-- Page Content Holder -->
        <div id="content">
        
            <nav class="navbar navbar-default">
                <div class="container-fluid">
        
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>STI - Sidebar</span>
                        </button>
                    </div>
                    
        
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" >
                    {% if user.is_authenticated %}
                    <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Olá {{ user.username }}
        
                      <img class="rounded-circle" src="{% static 'assets/img/renato.png' %}" alt="" width="35px" height="35px">
                     {% else %}
                      <a href="{% url 'login' %}"  class="btn btn-light">Entrar</a>
        
        
                    {% endif %}
                    </a>
                   
                <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
                    <div class="bg-white rounded-soft py-2">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="#">Configurações</a>
                        <a class="dropdown-item" href="{% url 'my_logout' %}">Sair</a>
                        {% else %}
                        <a class="dropdown-item" href="#">Configurações</a>
                        <a class="dropdown-item" href="{% url 'login' %}">Entrar</a>
                        {% endif %}
                    </div>
                </div>
                </li> 
            </ul>
          
        </nav>
        
    
        {% block main %}
        {% endblock %}
        
        {% block footer %}
        <!-- Footer -->
        <footer class="py-5 bg-primary">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Rsoftware 2019</p>
            </div>
            <!-- /.container -->
          </footer>
          </div>
        {% endblock %}    
        
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/DataTables/datatables.js' %}"></script>
<!-- Font Awesome JS -->
<script defer src="{% static 'assets/js/solid.js' %}"></script>
<script defer src="{% static 'assets/js/fontawesome.js' %}"></script>
  
<!--Scripts-->
<script>
  $(function () {
    $('.dropdown-toggle').dropdown();
  }); 
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#tabela-eqp').DataTable();
} );
</script>

<script type="text/javascript">
  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
</script>

</body>
</html>